.serial-number {
  text-align: right;
}
.header-panel{
  display: flex;
  justify-content: space-between;
  ng-lottie{
    width: 120px;
  }
}
.panel{
  margin-bottom: 32px;
}
.row-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8fcff;
  margin-top: 24px;
  border-radius: 8px;
  padding: 12px 32px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba($color: #d4cece, $alpha: 0.7);
  ::ng-deep {
    .mat-date-range-input-container {
      align-items: initial !important;
    }
    .mat-date-range-input-end-wrapper{
      text-align: left;
    }
  }

  .period,
  .last-record {
    width: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: center;
    }

    .hint{
      text-align: right;
      span{
        color: #e64343;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: right !important;
    }

    button {
      width: 100%;
    }
  }

}

.date-box{
  background-color: white;
}

.head-panel{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px 0;
  p{
    margin: 0;
    font-size: 16px;
  }
  span{
    color: #0d47a1;
  }
}