.serial-number {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(255, 245, 245, .8);

  ::ng-deep {
    .mat-date-range-input-container {
      align-items: initial !important;
    }
    .mat-date-range-input-end-wrapper{
      text-align: left;
    }
  }

  .period,
  .last-record {
    width: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: center;
    }

    mat-form-field {
      width: 100%;
      text-align: right !important;
    }

    button {
      width: 100%;
    }
  }

  .period {
    border-right: 1px solid #616161;
  }
}
