<div class="panel">
  <div class="container">
    <div class="header-panel">
      <ng-lottie [options]="optionsHeart"></ng-lottie>
      <div class="head-panel">
        <p class="serial-number">
          <span> {{userName}} </span>
        </p>
        <img src="/assets/images/pulse-oximeter.png" />
      </div>
    </div>

    <div class="row-p">
      <div class="period">
        <img src="/assets/images/9817.jpg" />
      </div>
      <div class="last-record">
        <mat-form-field appearance="fill">
          <mat-label>تعداد اخرین گزارش ها</mat-label>
          <input matInput placeholder="تعداد آخرین گزارش" [formControl]="numberBpm" />
        </mat-form-field>
        <p class="hint"><span>راهنمایی</span> : عدد وارد شده باید در بازه 10 تا 100 باشد</p>
        <button mat-raised-button color="warn" (click)="submitNumber()">تایید</button>
      
      </div>
    </div>

    <div class="row-p date-box">
      <div class="period">
        <mat-form-field appearance="fill">
          <mat-label>بازه تاریخی را انتخاب کنید</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="تاریخ شروع"
            />
            <input matEndDate formControlName="end" placeholder="تاریخ پایان" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitDate()">
          تایید
        </button>
      </div>
      <div class="last-record">
        <img src="/assets/images/10830.jpg" />
      </div>
    </div>
  </div>
</div>
