<div class="detail">
  <div class="container">
    <div class="main-title">
      <div class="health-title" *ngIf="isHealth">
        <p>{{ titleMessage }}</p>
      </div>
      <div class="danger-title" *ngIf="!isHealth">
        <p>{{ titleMessage }}</p>
      </div>
    </div>
    <div class="analysis" *ngIf="!isHealth">
      <p class="title">تحلیل</p>
      <div class="row-s">
        <div class="symptoms">
          <p class="s-title">
            :اگر یکی از علايم زیر را دارید لطفا به پزشک متخصص مراجعه کنید
          </p>
          <p class="symptom">احساس ضعف، سرگیجه یا بی حالی</p>
          <p class="symptom">تنگی نفس</p>
          <p class="symptom">نبض نا منظم یا تپش قلب</p>
          <p class="symptom">درد قفسه سینه</p>
          <p class="symptom">پوست رنگ پریده</p>
        </div>
        <div class="animation">
          <!-- disease in lottiefiles -->
        </div>
      </div>
    </div>
  </div>
  <div class="reasons">
    <div class="container">
      <p class="title">دلایل ضربان قلب نامنظم</p>
      <div class="r-row">
        <div class="col-4-r">
          <div class="content">
            <p>سیگار کشیدن</p>
            <img src="/assets/images/smoking-2.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>دیابت</p>
            <img src="/assets/images/diabetes.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>اضافه وزن</p>
            <img src="/assets/images/overweight.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>رژیم غذایی پر چرب</p>
            <img src="/assets/images/fast-food.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>استفاده بیش از حد از الکل</p>
            <img src="/assets/images/alchol.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>مصرف مواد مخدر</p>
            <img src="/assets/images/weed.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>استرس</p>
            <img src="/assets/images/stress.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>مصرف دارو</p>
            <img src="/assets/images/drugs.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>کافئین</p>
            <img src="/assets/images/coffe.png" />
          </div>
        </div>
        <div class="col-4-r">
          <div class="content">
            <p>بیماری عروق کرونر قلب</p>
            <img src="/assets/images/heart-disease.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helping">
    <div class="container">
      <p class="help-title">
        چگونه ضربان قلب خود را نرمال کنیم؟
        <!-- add thinking animation -->
      </p>
      <div class="advise">
        <div class="col-ad">
          <div class="content">
            <div class="overlay"></div>
            <img src="/assets/images/480568.jpg" />
            <p>ورزش کردن</p>
          </div>
        </div>
      
        <div class="col-ad">
          <div class="content">
            <div class="overlay"></div>
            <img src="/assets/images/Job-Stress-Philadelphia-1024x768.jpg" />
            <p>کاهش استرس</p>
          </div>
        </div> <div class="col-ad">
          <div class="content">
            <div class="overlay"></div>
            <img src="/assets/images/wp4661021.jpg" />
            <p>کاهش وزن</p>
          </div>

      </div>
    </div>
  </div>
</div>
